header(class=['header', 'bg-white', "py-3", "px-5", 'rounded-pill'])
	div(class="row  d-flex  align-items-center  justify-content-between")
		.col-xl-4
			+logo("header__logo_container")
		div(class="col-xl-8  d-flex flex-column flex-xl-row  align-items-center  justify-content-between")
			- 
				const navArr = [
					{
						classes: 'nav-link  active',
						text: "Home",
						target: "_self",
						ariaCurrent: "page",
						href: "#"
					},
					{
						classes: 'nav-link',
						text: "Find work",
						target: "_self",
						href: "#"
					},
					{
						classes: 'nav-link',
						text: "Find Freelancers",
						target: "_self",
						href: "#"
					},
					{
						classes: 'nav-link',
						text: "Log In",
						target: "_self",
						href: "#"
					},
					{
						classes: 'nav-link',
						text: "Sign Up",
						target: "_self",
						href: "#"
					}
				]
			+nav("col-9", "nav  justify-content-center", navArr)
			button(class="col-3  btn  btn-primary  rounded-pill"  type="button") Post a project
			
