include mixins/svg
include mixins/logo
include mixins/nav
include mixins/blueButton
include mixins/searchInput
include mixins/serviceCard
include mixins/statisticalBlock
include mixins/resentlyWorksCard
include mixins/socials
include mixins/footerColumn