mixin footerColumn(other, columnTitle, navClasses, listClasses, linksArr)
    p(class="font-weight-bold footer_column__title")=columnTitle
        if(other)
            block 
        else
            +nav(navClasses, listClasses, linksArr)
