mixin searchInput 
    div(class="input_seacrh__container  position-relative " + attributes.class )
        input(class="input search_input  rounded-lg  middle_size_text  w-100  form-control" type="search" name="search" id="search" placeholder="search freelance work")
        div(class="blue_icon__container p-3  bg-primary  rounded-circle  position-absolute")
            .search_icon__container
                img(class="img-fluid  align-middle" src="images/search.png")