
mixin socials 
    ul.nav
        li
            a(class='nav-link' href="#" target="_blank") 
                +svg('instagram')(class="icon")
        li
            a(class='nav-link' href="#" target="_blank") 
                +svg('twitter')(class="icon")
        li
            a(class='nav-link' href="#" target="_blank") 
                +svg('fasebook')(class="icon")

