mixin statisticalBlock(blueText, text)
    div(class="statistical_block  bg-white  rounded py-3 px-3 text-center " + attributes.class)
        p(class="big_gray_text text-primary  bold  mb-0")=blueText
        p(class="big_gray_text  mb-0")=text