mixin statisticalBlock(blueText, text)
    div(class="statistical_block  bg-white  rounded py-4 px-2 " + attributes.class)
        p(class="text-primary  font-weight-bolder pb-0")=blueText
        p.big_gray_text=text