main.home
	section
		.container-fluid
			.row
				.col-8
					h1 Are you looking for Freelancers?
					p Hire Great Freelancers, Fast. Spacelance helps you hire elite freelancers at a moment's notice
					div(class='btn-group' role="group")
						button
						button


			
		
		