extends pug/base

prepend vars
	//-

append vars
	//-

block content
	div(class=['container-xxl', "page", "pt-5"])
		.page_container
			include pug/components/header

			include pug/pages/home

			include pug/components/footer
