extends pug/base

prepend vars
	//-

append vars
	//-

block content
	.div(class=['container-fluid', "page"])
		include pug/components/header

		include pug/pages/home

		include pug/components/footer
