// user.scss
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

// main
/*//////////*/

.page {
    // max-width: 1520px;
    // width: 100%;
    padding: 0;

    font-family: $font_family;

    background-image: url("../images/back-figure.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.page_container {
    max-width: 1295px;
    width: 100%;
    margin: 0 auto;
}

.pos-relative {
    position: relative;
}

.background-shape {
    width: 100%;

    position: absolute;
    top: 0;
    z-index: -1;

}

.img-fluid {
    display: inline-block !important;
    object-fit: cover;
}

.btn-primary {
    color: white;
    font-weight: 600;

    &:hover {
        color: white;
    }

    &--big_padding {
        padding: 1.1rem !important;
    }
}

.page_title {
    font-weight: 700;
    line-height: 1.5;
    @include font-size(4rem);
}

// .small_size_text {

// }

.middle_size_text {
    @include font-size(1.2rem);
}

.big_gray_text {
    max-width: 590px;
    width: 100%;

    @include font-size(1.4rem);
    color: $light_gray;
}

.section {
    &--mt_small {
        @include rfs(120px, margin-top);
    }

    &--mt_big {
        margin-top: 170px;
        @include rfs(170px, margin-top);
    }
}

// header
/*//////////*/

.header {
    & .nav-link {
        @include font-size(1.2rem);
    }
}

.header__logo_container {
    width: 238px;
}

.nav-link {
    font: inherit;
    color: $gray;
    font-weight: 400;
    opacity: 0.7;
}

 .active {
    color: $blue;
    font-weight: 500;
    opacity: 1;
}

// search input
/*//////////*/

.input {
    font: inherit;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

    &::placeholder {
        color: $light_gray;
    }
}
.search_input {
    height: 100%; 
    @include padding-left(1.4rem);
    @include padding-right(70px);
}

.blue_icon__container {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;

    right: 5%;
    top: 10%;

    & .search_icon__container {
        width: 25px;
        height: 25px;      
    }
}

// search_freelancers
/*/////////////////*/

.search_freelancers {
    background-image: url("../images/working.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
}
 
.btns_container {
    @include margin-top(70px);
}

// services
/*//////////*/

.services {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
}

.service_card__blue_circle {
    background-color: $light_blue;
    max-width: 110px;
    width: 100%;
    height: 110px;
}

.service_icon {
    width: 60px;
    height: 60px;
}

.service_card_text {
    font-weight: 500;
    @include font-size(1.9rem);
}

.serviceCard {
    @include padding-left(80px);
    @include padding-right(80px);
}

// about_us
/*/////////////*/

.about_us {
    background-image: url("../images/woman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.statistical_block {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

// footer
/*//////////*/

.footer {
    @include font-size(0.8rem);
    @include margin-top(70px);
    
    & .nav-link {
        opacity: 1;
    }
}

.footer__logo_container {
    max-width: 100%;
}

.icon {
    width: 24px;
    height: 24px;

    fill: $gray;

    &:hover {
        fill: $blue;
    }
}

