//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

$light_blue: #F2FAFA;
$blue: #1E88E5;
$gray: #252525;

$font_family: 'Poppins', sans-serif;
